# Глава 4. Подготовка и преобразование данных. Введение в Plotly Express
стр.83

In [2]:
import pandas as pd

## PovStatsSeries.csv

In [9]:
series = pd.read_csv('data/PovStatsSeries.csv')
series.to_excel("series.xlsx", index=False)

In [10]:
series['Topic'].value_counts()

Topic
Poverty: Poverty rates           45
Poverty: Shared prosperity       10
Poverty: Income distribution      8
Health: Population: Structure     1
Name: count, dtype: int64

In [11]:
series['Unit of measure'].value_counts(dropna=False)

Unit of measure
%             39
NaN           22
2011 PPP $     3
Name: count, dtype: int64

In [21]:
topic_gr = (series.groupby('Topic', as_index=False).agg(
           #     count0=('Topic', 'count'),
                count=('Limitations and exceptions', 'count'),
                nunique=('Limitations and exceptions', 'nunique')
            ))

In [22]:
topic_gr

                           Topic  count  nunique
0  Health: Population: Structure      1        1
1   Poverty: Income distribution      8        2
2         Poverty: Poverty rates     25        3
3     Poverty: Shared prosperity      4        2